body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
}

body {
	background-color: #6096B4;
}

body > div:nth-child(2){
	background-image: url(../images/francesco-ungaro-gbbsIIHqcX4-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	width:auto;
}

.navbar {
	height: 60px;
}

.navbar-inner {
	display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-inner li {
	display: flex;
	padding: 0px 10px;
}

.navbar-inner li a {
	text-decoration: none;
	border: 1px solid #EEE9DA;
	color: white;
	font-size: 24px;
	padding: 15px 20px;
}

#header-area-outer {
	margin-top: 15px;
}

.header-area-inner {
	display: flex;
	justify-content: center;
}

.header-content {
	align-items: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.featured-area-inner, .blog-area-inner {
	display: flex;
}

.featured-block, .blog-area-block {
	justify-content: center;
	margin: 10px;
	padding: 1px;
	background-color: #BDCDD6;
}

#featured-area img, .blog-content img {
	width: 100%;
}

#services-area {
	 background-image: url("../images/bg-2.jpg");
}

.service {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-area-inner {
	height: 300px;
	margin: 10px 0px;
}

.testimonial-area-inner {
	display: flex;
}

.tm-box img {
	width:  100%;
}

#contact-area {
	display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BDCDD6;
}