body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
}

body {
	background-color: #383e4c;
}

ul, ol, li {
    list-style-type: none;
}
nav.menu {
    text-align: center;
}

nav.menu li {
    display: inline;
	background-color: #383E4C;
	font-size: 20px;
	text-transform: uppercase;
	border: 1px solid #fff;
	padding: 20px 30px 20px 30px;
}

nav.menu li a {
    text-decoration: none;
    color: #fff;
}

body > div:nth-child(2){
	background-image: url(./images/francesco-ungaro-gbbsIIHqcX4-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}